{%extends 'base.html'%}
{%block main%}


                <div class="tab-pane fade show active container-fluid" id="nav-today" role="tabpanel" aria-labelledby="nav-today-tab" tabindex="0">
                   
                    <div class="text-center">
                        <img style='width: 150px; margin: -20px;' src={{icon}} align="middle"/>
                        <h4>{{description}}</h4>
                        <h1 class="fw-bold">{{temp}}°C</h1>
                    </div>
                    <br>
                        <div class="d-flex justify-content-center">  
                            <div class="text-center"> 
                                <h3>Air Quality</h3>
                                <h4>{{aqi}}</h4>
                                <hr>    
                                <h3>Health Information</h3>
                                <h5>{{aqid}}</h5>
                            </div>
                        </div>

        
{%endblock%}         
