
<!doctype html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Happy Rain</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
        a {
            text-decoration: none;
        }
        .bg-color{
            background-color: #B9A8D6;
        }
    </style>
</head>
<body>
    <div class="d-flex justify-content-center align-items-center" style="height:100vh">
        <div class= "{% if aqi %}{{aqic}}{% else %}bg-color{% endif %} w-100" style = "max-width: 540px">
            <nav class='navbar justify-content-end'>
                <button class='navbar-toggler' type='button' data-bs-toggle='collapse' data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>   
            </nav>
            <div class="collapse text-end" id="navbarToggleExternalContent">
                <div class='d-flex flex-column'>
                    <a href="/edinburgh"><button  class= 'btn btn-outline-dark w-25 p-1'>Edinburgh</button></a>
                    <a href="/london"><button class= 'btn btn-outline-dark w-25 p-1'>London</button></a>
                    <a href="/paris"><button class= 'btn btn-outline-dark w-25 p-1'>Paris</button></a>
                </div>

            </div> 
            <div class="p-5">
                <h3>Location:</h3>
                <h1>{{ name }}</h1>
            </div>
                <nav>
                    <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
                           <a href="/{{ lowerName }}"> <button class="btn btn-light {{'active' if page=='today'}}" id="nav-today-tab" data-bs-toggle="tab" data-bs-target="#nav-today" type="button" role="tab" aria-controls="nav-today" aria-selected="true">Today</button></a>
                           <a href="/5day-{{ lowerName }}"> <button class="btn btn-light {{'active' if page=='5day'}}" id="nav-5day-tab" data-bs-toggle="tab" data-bs-target="#nav-5day" type="button" role="tab" aria-controls="nav-5day" aria-selected="false">5-Day</button></a>
                           <a href="/airpollution-{{ lowerName }}"> <button class="btn btn-light {{'active' if page=='airpollution'}}" id="nav-airpollution-tab" data-bs-toggle="tab-airpollution" data-bs-target="#nav-airpollution" type="button" role="tab" aria-controls="nav-alert" aria-selected="false">Air Pollution</button></a>
                           {#  <a href="/london"> <button class="nav-link {{'active' if page=='london'}}" id="nav-london-tab" data-bs-toggle="tab" data-bs-target="#nav-london" type="button" role="tab" aria-controls="nav-london" aria-selected="false">London</button></a> #}
                           {# <a href="/paris"> <button class="nav-link {{'active' if page=='paris'}}" id="nav-paris-tab" data-bs-toggle="tab" data-bs-target="#nav-paris" type="button" role="tab" aria-controls="nav-paris" aria-selected="false">Paris</button></a> #}

                    </div>
                </nav>
            <div class="tab-content" id="myTabContent">
   {%block main%}
   {% endblock %}
            </div>       
        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>