{%extends 'base.html'%}
{%block main%}

                
        
                <div class="tab-pane fade show active  container-fluid" id="nav-5day" role="tabpanel" aria-labelledby="nav-5day-tab" tabindex="0">
                    <div class="container d-flex flex-column justify-content-around">
                    {%for day in fiveDayForecast%}
                        <div class="row">
                            <div class="col">
                                 <p>{{ day.dt_txt }}</p>
                            </div>
                            <div class="col">
                                <img style='width: 70px; margin: -20px;' src= 'http://openweathermap.org/img/wn/{{ day.weather[0].icon }}@2x.png' />
                            </div>
                            <div class="col">
                                 <p>{{ day.main.temp }}</p>
                            </div>
                        </div>    
                    {%endfor%}
                    </div> 
                </div>
{%endblock%}