
<!doctype html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Happy Rain</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  </head>
<body>
    <div class="d-flex justify-content-center align-items-center" style="height:100vh">
        <div class= "bg-info w-100" style = "max-width: 540px">
            <nav></nav>
            <div class="p-5">
                <h1>{{ name }}</h1>
            </div>
            <div>
                <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="today-tab" data-bs-toggle="tab" data-bs-target="#today" type="button" role="tab" aria-controls="today" aria-selected="true">Today</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="5day-tab" data-bs-toggle="tab" data-bs-target="#5day" type="button" role="tab" aria-controls="5day" aria-selected="false">5-Day</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="alert-tab" data-bs-toggle="tab" data-bs-target="#alert" type="button" role="tab" aria-controls="alert" aria-selected="false">Alert</button>
                    </li>
                  </ul>   
            </div>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active container-fluid" id = "today" role="tabpanel" aria-labelledby="today-tab">
                        <div class="text-center">
                            <img style='width: 150px; margin: -20px;' src={{icon}} align="middle"/>
                            <h4>{{description}}</h4>
                            <h1 class="fw-bold">{{temp}}°C</h1>
                        </div>
                        <div class="d-flex justify-content-between p-5">  
                            <div class="text-center"> 
                                <img src="{{url_for('static', filename='sunrise.png')}}" />
                                <h6>Sunrise</h6>
                                <h4 class="fw-bold">{{sunrise}}</h4>
                            </div>
                            <div class="text-center"> 
                                <img src="{{url_for('static', filename='sunset.png')}}" />
                                <h6>Sunset</h6>
                                <h4 class="fw-bold">{{sunset}}</h4>
                            </div>
                        </div>
                        <div class="d-flex justify-content-evenly">
                            <div>
                                <h4>High</h4>
                                <h4>{{temp_max}}°C</h4>
                            </div>
                            <div>
                                <h4>Low</h4>
                                <h4>{{temp_min}}°C</h4>
                            </div>
                        </div>
                </div>
                <div class="tab-pane fade container-fluid" id = "5day" role="tabpanel" aria-labelledby="5day-tab">
                    <div class="text-center">
                        <img style='width: 150px; margin: -20px;' src={{icon}} align="middle"/>
                        <h4>{{description}}</h4>
                        <h1 class="fw-bold">{{temp}}°C</h1>
                    </div>
                </div>
            </div>      
        </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>